<div class="container alert alert-danger alert-dismissible fade show" role="alert" *ngIf="noTaskFound">
  No Task Found
</div>

<div class="container my-2" *ngIf="!noTaskFound">
  <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="updateFailed">
    Create Operation Failed!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="failedDismiss()">
      <span >&times;</span>
    </button>
  </div>
  <h2 class="my-2">Update Task</h2>
  <app-task-form (res)="onSubmit($event)" [task]="task"></app-task-form>
</div>

